*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar-brand img{
height: 40px;
}
.card-image{
    height: 250px;
}
.nav-link{
    color: black;
}
.active{
    color: blue;
    font-weight: bold;
    border-bottom: 3px solid blue;
}
.card{
    border-radius: 20px;
}
.bg-light{
    border-bottom: 1px solid lightgray;
}
.container-fluid{
    margin-bottom: 4px;
}