@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Smooch&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 505px;
    width: 100%;
}

.signbutton {
    padding-left: 40px;
    padding-right: 40px;
}

.footer {
    border-top: 1px solid lightgray;
}

.error {
    color: red;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    * {
        overflow: hidden;
    }
}